<!DOCTYPE kpartgui>
<kpartgui version="1" name="kopete_qq_chat">
    <MenuBar>
        <Menu noMerge="1" name="file">
            <Action name="sendNudge" />
        </Menu>
    </MenuBar>
    <ToolBar name="chatToolBar">
        <Action name="sendNudge" />
    </ToolBar>
</kpartgui>
